* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

header {
    background-color: rgba(165, 42, 42, 0.316);
    padding: 10px 0;
}


header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav div img {
    height: 40px;
    width: 40px;
}



header nav img {
    width: 100px;
}

footer {
    margin-top: auto;
    background-color: aqua;
    text-align: center;

}

.producto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #e6a03e;
    width: 200px;
    border-radius: 10px;
}

.producto-imagen {
    width: 200px;
    border-radius: 10px;
    align-content: center;
}

.producto-agregar {
    color: white;
    font-size: 20px;
    bottom: 40px;
    border-radius: 10px;
    background-color: black;
    padding: 5px;
    margin: 10px;
}

.producto-titulo {
    text-align: center;
}

.producto-precio {
    text-align: center;
}